<!DOCTYPE html>
<html lang="en" style="font-size: 18px">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{description}}"/>
    <meta name="og:description" content="{{description}}"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="{{ '/assets/global.css' | url }}" >
    {% if meta.env == 'prod' %}
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    {% endif %}
  </head>
  <body>
  {{ process.env.ELEVENTY_ENV }}
    {{content | safe}}
  </body>
</html>
