---
layout: base
title: Online payment
description: Redesign of the payment entry for private and business clients
activities: ["Interaction design (Sketch)", "Prototyping (InVision)", "IT hand-offs", "Usability testing", "Design thinking workshops", "Stakeholder management"]
---

<header class="pb-12 text-center flex flex-col items-center bg-gradient-to-b from-white to-sky-50">
    <div class="max-w-5xl mx-auto">
        <a href="/" class="text-blue-700 py-4 block">Home</a>
        <img class="mx-auto mb-4" src="/images/logos/cs-logo.svg" alt="Credit Suisse logo" width="188" height="24"/>
        <h1 class="text-5xl sm:text-7xl font-bold">{{ title }}</h1>
        <img class="my-4 sm:my-8 transition-all duration-500 opacity-0 -translate-y-12 image-fade" src="/images/online-payments/payments-sm.webp" alt="Payment entry screen"
             srcset="/images/online-payments/payments-sm.webp 720w, /images/online-payments/payments-lg.webp 1600w"
             sizes="100vw"
             width="800"
             height="467"
             loading="lazy" decoding="async"/>
    </div>
</header>

<main class="flex flex-col gap-16 sm:gap-24 items-center">
    <section class="bg-sky-50 w-full pb-8">
        <div class="max-w-3xl mx-auto px-4">
            <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-4 sm:mb-8">Introduction</h2>
            <div class="space-y-2">
                <p>
                    <strong>Timeline.</strong> Apr 2018 - Jun 2019
                </p>
                <p>
                    <strong>Problem statement.</strong> Over 80% of the online banking usage is related to payments.
                    However, this module faced the several challenges:</p>
                <ul class="list-disc marker:text-slate-600 ml-4">
                    <li>Costly maintenance due to two separated portals for private and business clients</li>
                    <li>Advanced features like recurring payments and templates were not used</li>
                    <li>High number of not submitted payments, which caused delayed payments</li>
                    <li>High number of duplicate payments, which resulted in a loss of client’s money</li>
                    <li>Above average support calls related to payment issues</li>
                </ul>

                <p>
                    <strong>Goal.</strong> Provide for private and business clients a unified and improved experience.
                    Resolve the above-mentioned major usability issues.</p>
                <p>
                    <strong>Team.</strong> Developers (on-, offshore), business analysts, product owner, scrum master,
                    product managers and customer support. </p>
                <p>
                    <strong>Roles played.</strong> As a lead UX designer I was responsible for the overall payments
                    experience.
                </p>
            </div>
        </div>
    </section>

    <section class="max-w-5xl px-4">
        <h3 class="text-4xl sm:text-6xl font-semibold text-center mb-4 sm:mb-8">Activities</h3>
        <div class="flex flex-wrap justify-center gap-2 text-sm sm:text-base">
            {% for activity in activities %}
                <p class="py-2 px-6 bg-sky-100 text-blue-800 rounded-3xl shrink-0">{{ activity }}</p>
            {% endfor %}
        </div>
    </section>


    <section class="max-w-5xl px-4">
        <div class="max-w-3xl mx-auto">
            <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-4 sm:mb-8">Getting started</h2>
            <h3 class="font-semibold">Challenges</h3>
            <ul class="list-disc list-inside sm:list-outside marker:text-slate-600 space-y-2">
                <li>The two payments portals for private and business users, have evolved over the years, and we noticed
                    a
                    change resistance from the product team side. The first challenge was to understand the
                    stakeholders’
                    view.
                </li>
                <li>Secondly, we needed to bring all private and business stakeholders together and build a common
                    vision
                    for
                    the new payments module.
                </li>
            </ul>
            <h3 class="font-semibold mt-8">Proposed solutions</h3>
            <ol class="list-disc list-inside sm:list-outside marker:text-slate-600 space-y-2">
                <li>We conducted interviews with stakeholders and knowledge transfer sessions with a subject-matter
                    expert.
                    Then, we created a list of features which they want to keep and the features they are open to
                    change.
                </li>
                <li>Later, we run a series of design thinking workshops to build a vision.</li>
            </ol>
        </div>

        <div class="grid sm:grid-cols-2 gap-6 sm:gap-2 my-8 mx-auto">
            <figure class="">
                <img class="mx-auto" src="/images/online-payments/payment-whiteboard-1.webp" width="390" height="292"
                     loading="lazy"
                     decoding="async"
                     alt="Image of a whiteboard from payment workshop"/>
                <figcaption class="mt-2 text-sm text-slate-600 text-center whitespace-normal">Whiteboard sketches from
                    design thinking workshops. We were
                    merging private and business client layout into one.
                </figcaption>
            </figure>
            <figure class="">
                <img class="mx-auto" src="/images/online-payments/payment-whiteboard-2.webp" width="390" height="292"
                     loading="lazy"
                     decoding="async"
                     alt="Image of a whiteboard from payment workshop"/>
                <figcaption class="mt-2 text-sm text-slate-600 text-center">Whiteboard sketches from design thinking
                    workshops. We defined the information architecture for the payment review page.
                </figcaption>
            </figure>
        </div>
        {% lessonsLearned %}
            To fulfil every stakeholder’s requirement is difficult. Workshops helped us to align everyone, additionally
            we created the “we are in this together” mindset, which improved our collaboration.
        {% endlessonsLearned %}
    </section>


    <section class="max-w-3xl mx-auto px-4">
        <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-4 sm:mb-8">Designing the payment entry
            flows</h2>
        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Previous version</h3>
        <p>After the research phase, we started preparing designs for payment entry flows of domestic,
            international, red,
            orange and later QR payments.</p>
        <p>From production database, stakeholders and customer support we learned about existing pain points of the
            current
            solution:</p>
        <figure class="my-8">
            <img class="mx-auto" src="/images/online-payments/payment-flow-old.webp" width="800" height="486"
                 loading="lazy"
                 decoding="async"
                 alt="Domestic payment entry"/>
            <figcaption class="mt-2 text-sm text-slate-600 text-center">Domestic payment entry (previous)
            </figcaption>
        </figure>


        <ol class="list-decimal list-inside marker:text-orange-700 space-y-2">
            <li>Users did not see the standing order feature.</li>
            <li>The account section was not clear enough and clients used the wrong account while making payments.</li>
            <li>Duplicate and incomplete payments, as users did not notice the end of payment flow.</li>
        </ol>

        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Final design</h3>
        <p>We designed the new payment entries using the new corporate brand, which in this case meant changing from
            turquoise to black.</p>
        <p>The entry flows were tested over 16 private and 8 business users.</p>

        <figure class="my-8">
            <img class="mx-auto" src="/images/online-payments/payment-entry-flow-new.webp" width="800" height="486"
                 loading="lazy"
                 decoding="async"
                 alt="Domestic payment entry new flow"/>
            <figcaption class="mt-2 text-sm text-slate-600 text-center">Domestic payment entry (new)
            </figcaption>
        </figure>

        <ol class="list-decimal list-inside marker:text-orange-700 space-y-2">
            <li>Duplicate & incomplete payments were fixed after we introduced a wizard, which helped users to orient
                and
                know when payments are submitted
            </li>
            <li>Instead of showing all accounts, we went back to a simple solution, and used a dropdown instead</li>
            <li>Standing order was placed at users’ blind spot. We integrated it in the screen, close to the execution
                date
            </li>
        </ol>

        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Results</h3>
        <p>Hotlines reported decrease in recurring payment related calls.</p>
        <p>Production database showed decrease in double and abandon payments.</p>
    </section>

    <section class="max-w-3xl mx-auto px-4">
        <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-4 sm:mb-8">Designing the assistant</h2>
        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Previous version</h3>
        <p>Switzerland has a complex payment system even for private clients. Because of this complexity the bank
            introduced
            an assistant to help them.</p>
        <p>Unfortunately, this feature brought another layer of confusion. The product team gave up solving this
            challenge
            and provided a YouTube video as explanation.</p>
        <figure class="my-8">
            <img class="mx-auto" src="/images/online-payments/assistant-old.webp" width="800" height="486"
                 loading="lazy"
                 decoding="async"
                 alt="Previous version of payment assistant"/>
            <figcaption class="mt-2 text-sm text-slate-600 text-center">Previous version of payment assistant
            </figcaption>
        </figure>
        <ol class="list-decimal list-inside marker:text-orange-700 space-y-2">
            <li>The autocomplete for IBANs had many bugs and lead to wrong payment types.</li>
            <li>Business users wanted a quick way to select payment type, e.g. international payment.</li>
            <li>Business users were missing information from the payment list</li>
        </ol>


        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8  mb-3 sm:mb-6">Early designs</h3>
        <p>We wanted to simplify the assistant as much as possible and come up with a very visual concept: </p>
        <figure class="my-8">
            <img class="mx-auto" src="/images/online-payments/assistant-early.webp" width="800" height="486"
                 loading="lazy"
                 decoding="async"
                 alt="Early version of payment assistant"/>
            <figcaption class="mt-2 text-sm text-slate-600 text-center">Early version of payment assistant
            </figcaption>
        </figure>

        <ol class="list-decimal list-inside marker:text-orange-700 space-y-2 mb-6">
            <li>We wanted to show payment types only, when the user selects the input field</li>
            <li>We used logos, icons and images of people to make the assistant more visual.</li>
        </ol>

        {% lessonsLearned %}
            Payment assistant is used mainly by professional users. It does not mean only business, but also private
            users. After usability testings and interviews we learned the importance of certain information, which we
            wanted to erase. We had also technical limitation with the logos, icons and pictures. We could not use them.
        {% endlessonsLearned %}

        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Final design</h3>
        <p>User interviews revealed that we cannot simply distinguish between private and business, instead basic and
            professional users. This resulted in payment screens with variants for both types. The example below shows
            the
            payment assistant final concept for professional users:</p>
        <figure class="my-8">
            <img class="mx-auto" src="/images/online-payments/assistant-final.webp" width="800" height="486"
                 loading="lazy"
                 decoding="async"
                 alt="Domestic payment entry new flow"/>
            <figcaption class="mt-2 text-sm text-slate-600 text-center">New version of payment assistant
            </figcaption>
        </figure>
        <ol class="list-decimal list-inside marker:text-orange-700 space-y-2">
            <li>User can enter single payment or even a list of payments.
            </li>
            <li>We kept the autocomplete with fixed usability bugs.</li>
            <li>All the payment types are now visible
            </li>
            <li>Expanded the list with Beneficiary’s account and folder information.</li>
        </ol>
        <h3 class="text-3xl sm:text-5xl font-semibold text-center mt-4 sm:mt-8 mb-3 sm:mb-6">Results</h3>
        <p>After the release of the new payment assistant we received from customer support and as well from our
            business clients positive feedback.</p>

        <a href="/" class="text-blue-700 py-4 block text-center mb-8">Back to home page</a>
    </section>
</main>

<script>
    const image = document.querySelector(".image-fade");
    const fadeIn = new IntersectionObserver (function (entries, observer) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100");
                entry.target.classList.add("translate-y-0");
            }
        }, {threshold: 1});
    });
    fadeIn.observe(image);
</script>
